*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
}

main h1{
    color: red;
    text-align: center;
}

main p{
    color: blue;
}

nav{
    display: flex;
    column-gap: 30px;
}

nav p{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

nav p:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
    
}

main{
    margin: 10px;
}

.container{
    background-color: yellow;
    width: 25%;
    padding: 30px;
}

.container h1{
    text-align: center;
    margin-bottom: 10px;
}

label{
    font-size: 18px;
}